.logo{
    width:40px;
    height:40px;
}

.navlink{
    color:white;
}

.nav_bars {
    background-color: rgb(129, 213, 236);
    height: 65px;
    box-shadow: 2px 4px 5px 2px #888888;
  }

  .header_icon {
  width: 40px;
  margin-right: 80px;
}
.icons {
    width: 50px;
    /*background-color: rgb(129, 213, 236);
    box-shadow: 1px 2px 3px 1px #888888;*/
    margin-right: 10px;
  }